/*RESET*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;   
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

#root, #__next {
  isolation: isolate;
}

/*LAYOUT*/

.container {
  width: 1280px;
  max-width: 90%;
  margin: 0 auto;
}

p, label {
  font-size: 1.1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1vh 0;
}

fieldset legend {
  font-size: 1.4rem;
  font-weight: bold;
}

#pessoal div.campo {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#pessoal div.campo label {
  text-align: left;
  width: 60%;
}

#pessoal div.campo input {
  width: 40%;
  margin: 0.2rem 0;
  padding: 5px 10px;
  border-radius: 1%;
  border: 1px solid #ccc;
}

#perguntas div.campo {
  margin: 0.3rem 0;
}

#perguntas div.campo p {
  font-size: 1.2rem;
  font-weight: 500;
}

#perguntas div.campo input {
  margin: 0.4rem 0;
}

#politica-privacidade div.campo {
  display: flex;
  align-items: center;
}

#politica-privacidade div.campo input {
   margin-right: 0.5rem;
}

#politica-privacidade div.campo a {
  font-weight: 600;
  font-style: italic;
}

#historia-profissional div.campo {
  display: flex;
  flex-direction: column;
}

#historia-profissional div.campo label {
  margin-bottom: 0.5rem;
}

#historia-profissional div.campo textarea {
  height: 24vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  resize: vertical;
}

form button {
  text-transform: uppercase;
  font-weight: 700;
  background-color: #1991F9;
  color: #fff;
  margin: 1rem 0;
  padding: 0.6rem 1.6rem;
  border: none;
}

form button:hover {
  background-color: #1787E8;
  transition: ease-in-out 0.3s;
}

footer {
  margin-top: 2rem;
  flex: 1;
  padding: 1rem 0;
  background-color: #333333;
}

footer p {
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  color: #FFF;
}
